{{ with resources.Get "css/style.scss" }}
    {{/* We use ToCSS on non sass to make sure node_modules paths are included and imported
    Then we can run PostCSS on the resulting asset.
    `use` setting allow us to skip the postcss.config file.
     */}}
    {{ $options := (dict "enableSourceMap" true "precision" 6 "includePaths" (slice "node_modules")) }}
    {{ $style := . | resources.ToCSS $options | resources.PostCSS (dict "use" "postcss-preset-env") | minify | fingerprint }}
    {{/* We fingerprint in production to ensure cache busting */}}
    {{ with $style }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" >
    {{ end }}
  {{ end }}

{{ range .Site.Params.custom_css }}
  <link rel="stylesheet" href="{{ relURL (.) }}">
{{ end }}